@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
	--primary-color: #fce029;
	--primary-font: 'Indie Flower', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

header {
	text-align: center;
	background-color: var(--primary-color);
	padding: 0.7rem;
}

header h1 {
	font-size: 3rem;
	margin: 0;
}

main {
	padding: 2rem;
	max-width: 37rem;
	margin: auto;
}

#text-input {
	display: block;
	height: 15vh;
	width: 100%;
	font-family: var(--primary-font);
	font-size: 1.2rem;
	resize: none;
}

.btn-translate {
	margin: 1rem 0;
	padding: 1rem 1.5rem;
	cursor: pointer;
	background-color: #0a75bc;
	font-family: var(--primary-font);
	font-size: 20px;
}

.output {
	height: 10vh;
	border: 1px solid;
	margin: auto;
	overflow: scroll;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--primary-color);
	text-align: center;
}

footer h3 {
	font-size: 1.5rem;
}

footer p {
	margin: 0 auto;
	max-width: 37rem;
	font-size: 1rem;
	padding-bottom: 1.2rem;
}
